body{
  background-color: black; 
}
img{
  max-width: 100%;
}

.headerImg{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.5)) , url("img/arkaplan.jpg");
  background-size: cover;
  background-position: center;
}

.headerContent{
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.accordion-button{
  background-color: rgb(43, 43, 43);
  color: white;
  margin-top: 1rem;
}

.accordion-item{
  border: none;
  background-color: rgb(65, 65, 65);
  color: white;
}
.accordion-button:focus{
  box-shadow: none;

}
.accordion-button:not(.collapsed){
  background-color: rgb(43, 43, 43);
  color: white;
  box-shadow: none;
}

.accordion-button::after{
  background-image: url("https://cdn-icons-png.flaticon.com/512/814/814208.png");
}

.accordion-button:not(.collapsed)::after{
  background-image: url("https://cdn-icons-png.flaticon.com/512/149/149163.png");
}

footer ul li {
  margin-top: 1rem;
}

footer ul li a{
  text-decoration: none;
  color: gray;
}

footer ul li a:hover{
  text-decoration: underline;
}
hr{
  color:white;
  }